body {
    background-color:#f7f7f7;
    color: #333;
}


/* モデルン紹介 */
.about--moderne {
    width: 80%;
    margin: auto;
}

.about--moderne__title {
    text-align: center;
}

.about--moderne__title h2 {
    font-size: 3rem;
    margin: 3rem 0 4rem 0;
}

.about--moderne__image {
    width: 75%;
    margin: auto;
}

.about--moderne__image img {
    width: 100%;
}

.about--moderne__subtitle {
    text-align: center;
}

.about--moderne__subtitle h2 {
    color: black;
    font-size: 2.5rem;
    letter-spacing: .3rem;
    margin: 2.5rem 0 1rem 0;
}

.about--moderne__subtitle p {
    width: 75%;
    margin: auto;
    color: #555;
    text-align: justify;
    line-height: 1.7;
    font-size: 1.2rem;
}


/* モデルン特長 */
.moderne--features {
    width: 80%;
    margin: auto;
}

.moderne--features__container {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 45vh 45vh 45vh;
    grid-template-areas: "first-exp first-img" "second-img second-exp" "third-exp third-img";
    justify-content: center;
    margin: 8rem 0;
}

.feature--first__explanation {
    grid-area: first-exp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.feature--first__explanation p {
    text-align: justify;
    font-size: 1.2rem;
    height: inherit;
}

.feature--first__image {
    grid-area: first-img;
}

.feature--first__image img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.feature--second__image img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.feature--second__explanation {
    grid-area: second-exp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.feature--second__explanation p {
    text-align: justify;
    display: inline-block;
    font-size: 1.2rem;
    height: auto;
}

.feature--third__explanation {
    grid-area: third-exp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.feature--third__explanation p {
    text-align: justify;
    font-size: 1.2rem;
    height: auto;
}

.feature--third__image img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.feature--first__explanation h3,
.feature--second__explanation h3, 
.feature--third__explanation h3 {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
}


/* モデルンハッシュタグ（見栄え） */
.text--outlined {
    width: 75%;
    margin: auto;
    height: 40vh;
    margin-bottom: 2rem;
}

.text--outlined h2 {
    text-align: center;
    font-size: 10vw;
    color: #f7f7f7;
    text-shadow: -1px -1px 0 #555,  
                  1px -1px 0 #555,
                  -1px 1px 0 #555,
                  1px 1px 0 #555;
}