/* 全ページ共通 */

/* 共通部 */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color:#f7f7f7;
    color: #333;
}


/* ヘッダ(static) */
.header--nav__static {
    width: 100%;
    background-color: #fff;
    padding: .5rem 1rem 0 1rem;
    color: #333;
    transition: background-color .5s;
    border-top: 5px solid #000;
    border-bottom: 1px solid #aaaaaa;
}

.header--nav__static .header--nav__logo {
    text-align: center;
}

.header--nav__static .header--nav__logo a {
    display: inline-block;
    width: 14rem;
    text-decoration: none;
}

.header--nav__static .header--nav__logo a:visited,
.header--nav__static .header--nav__logo a:link,
.header--nav__static .header--nav__logo a:active {
   color: inherit;
}

.header--nav__static .logo__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.header--nav__static .logo__subtitle {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
}

.header--nav__static .header-nav__global {
    padding: 1.7rem 0 1rem 0;
}

.header--nav__static .header--nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 1rem;
}

.header--nav__static .header--nav__item {
    margin: 0 3rem;
}

.header--nav__static .header--nav__item a {
    text-decoration: none;
    transition: all .1s;
}

.header--nav__static .header--nav__item a:visited,
.header--nav__static .header--nav__item a:active,
.header--nav__static .header--nav__item a:link {
    color: inherit;
}

.header--nav__static .header--nav__item a:hover {
    padding: 0 0 0.85rem 0;
    color: #aaaaaa;
    border-bottom: 3px solid #333;
}

.active__static {
    padding: 0 0 0.85rem 0;
    border-bottom: 3px solid #333;
}

.active__static:hover {
    color: #333 !important;
}

.header--nav__float {
    position: fixed;
    opacity: 1;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all .2s ease-in;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-out;
}

.nav--container {
    display: flex;
    min-width: 20rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    padding: 1rem;
    color: white;
    transition: background-color .5s;
}

.header--nav__float .header--nav__logo {
    width: 14rem;
    text-align: center;
}

.header--nav__float .header--nav__logo .logo__title {
    font-size: 2rem;
    font-weight: bold;
}

.header--nav__float .header--nav__logo .logo__subtitle {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
}

.header--nav__float .header--nav__logo a {
    width: 14rem;
    text-decoration: none;
}

.header--nav__float .header--nav__logo a:visited,
.header--nav__float .header--nav__logo a:link,
.header--nav__float .header--nav__logo a:active {
   color: inherit;
}

.header--nav__float .header--nav__items {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
}

.header--nav__float .header--nav__items .header--nav__item {
    display: inline-block;
    margin: .5rem;
}

.header--nav__float .header--nav__items .header--nav__item a {
    color: inherit;
    text-decoration: none;
}

.header--nav__float .header--nav__items .header--nav__item a:hover {
    color: gray;
    padding: 0 0 1.8rem 0;
    border-bottom: 5px solid white;
    transition: all .1s;
}

.active__float {
    padding: 0 0 1.8rem 0;
    border-bottom: 5px solid white;
}

.active__float:hover {
    color: white !important;
}


.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateY(1rem) translateX(-50%);
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content__float {
    display: none;
    position: absolute;
    transform: translateX(-1.7rem) translateY(2rem);
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropbtn {
    cursor: pointer;
}

.dropbtn-float {
    cursor: pointer;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content__float a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.header--nav__static .header--nav__items .header--nav__item .dropdown-content a:hover {
    border: none;
    padding: 12px 16px;
}

.header--nav__float .header--nav__items .header--nav__item .dropdown-content__float a:hover {
    border: none;
    padding: 12px 16px;
}

.show {
    display: block;
}


/* 「ページトップへ」ボタン */
.to_page_top {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    display: none;
    background-color:rgba(51, 51, 51, .8); /*以下、デザインはご自由に！！*/
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    line-height: 22px;
    border-radius: 30px;
    padding-top: 30px;
    box-sizing: border-box;
}

.to_page_top:hover {
    cursor: pointer;
}

.to_page_top:before {
    content: '\25B2';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.to_page_top:hover {
    opacity: 0.7;
}


/* フッター */
.footer {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #f7f7f7;
    padding: 3rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer--logo {
    text-align: center;
}

.footer--logo a {
    display: inline-block;
    width: 14rem;
    text-decoration: none;
}

.footer--logo a:visited,
.footer--logo a:link,
.footer--logo a:active {
   color: inherit;
}

.footer--logo .logo__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.footer--logo .logo__subtitle {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
}

.footer--feature {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer--feature__copyright {
    font-size: 0.8rem;
}

.footer--feature__sns {
    font-size: 0.8rem;
}

.footer--feature__sns i {
    cursor: pointer;
}


/* スクロールバー */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0; 
}
   
::-webkit-scrollbar-thumb {
    background: #333; 
}

::-webkit-scrollbar-thumb:hover {
    background: #777; 
}


.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
  
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; 
}

.btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
    background-color: #fff;
    color: #333;
}

.btn--white::after {
    background-color: #fff;
}


.backdrop {
    display: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    transition: opacity 0.2s linear;
}


/* モーダル */
.modal {
    position: fixed;
    opacity: 0;
    transform: translateY(-3rem);
    transition: opactity 0.2s ease-out, transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}