#map {
    height: 70vh;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color:#f7f7f7;
    color: #333;
}

.main {
    width: 80%;
    margin: auto;
}

.moderne--map {
    display: flex;
    margin-bottom: 6rem;
}

.moderne--map__title h2 {
    text-align: center;
    margin: 3rem 0;
}

.moderne--map__stores {
    width: 30%;
    height: 70vh;
    border: 1px solid #aaa;
    overflow: auto;
}

.store {
    padding: 2rem;
}

.store:not(:last-child) {
    border-bottom: 1px solid #aaa;
}

.store:hover {
    background-color: #eee;
    cursor: pointer;
}

.store h3 {
    margin-top: 0;
}

.store--address {
    font-size: .8rem;
}

.store--phone {
    font-size: .8rem;
    color: #777;
}

.store--time {
    font-size: .8rem;
    color: #777;
}

.store i {
    display: inline-block;
    font-size: .8rem;
    position: relative;
    /* Adjust these values accordingly */
    top: 1px;
}

.moderne--map__map {
    width: 70%;
    
}