/* トップページ */
.main {
    width: 80%;
    margin: auto;
}


/* メインビジュアル */
.main--visual {
    padding: 1.5rem 0 0 0;
    height: 50vh;
}

.slideshow-container {
    width: 100%;
    height: 50vh;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    position: absolute;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 30% 30%;
}

.mySlides .text-box {
    position: absolute;
    width: auto;
    height: auto;
    padding: 0;
    top: 80%;
    right: 1rem;
    text-align: center; 
    transform: translateY(-50%)
}

.mySlides .text-box .title1 {
    font-size: 1rem;
    margin: 0 0 .3rem 0;
}

.mySlides .text-box .title2 {
    font-size: 1rem;
    margin: 0 0 .3rem 0;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text1 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;    
}

.text2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;    
}

.info__btn {
    width: 98px;
    font-size: .8rem;
    background-color: #fff;
    border: 1px solid gray;
    padding: .5rem 1rem;
    text-decoration: none;
}

.info__btn:hover {
    background-color: lightgray;
    transition: all .4s;
}

.info__btn:link,
.info__btn:active,
.info__btn:visited {
    color: #333;
}

.active:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* 商品カテゴリーグリッド */
.main--grid {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45vh 45vh;
    grid-template-areas: "first second" "first third";
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.product--women {
    grid-area: first;
    background-image: url(../images/grid-women.jpg);
    background-size: cover;
    transition: all .5s;
    background-position: center;
}

.modern--about {
    grid-area: second;
    background-image: url(../images/grid-about.jpg);
    background-size: cover;
    transition: all .5s;
    background-position: center;
}

.product--men {
    grid-area: third;
    background-image: url(../images/grid-men.jpg);
    background-size: cover;
    transition: all .5s;
}

.grid--info {
    padding: 1.5rem;
}

.grid--info__title {
    margin-top: 0;
}

.grid--info__btn {
    font-size: .8rem;
    background-color: #fff;
    border: 1px solid gray;
    padding: .5rem 1rem;
    text-decoration: none;
}

.grid--info__btn:hover {
    background-color: lightgray;
    transition: all .4s;
}

.grid--info__btn:link,
.grid--info__btn:active,
.grid--info__btn:visited {
    color: #333;
}

.text-white {
    color: white;
}



